body, html {
	background-image:;
	color: black;
	text-align: center;
	font-weight: bold;
	background-size: cover;
}

html {
}

.title {
	font-size: 40px;
	padding: 20px;
	color: white;
	border-bottom-style: solid;
	border-color: black;
	border-width: 2px;
}

.gameBox {
	position: relative;
	margin: 5% 10% 5% 10%;
	min-height: 450px;
	border-style: solid;
	border-color: black;
	border-width: 4px;
	background-color: #777;
	opacity: 0.9;
}

.instructions {
	background-color: grey;
	padding: 15px;
	border-bottom-style: solid;
	border-color: black;
	border-width: 2px;
	padding: 20px;
	font-size: 20px;
}

.scoreboard {
	width: 100%;
	min-height: 136px;
	background-color: white;	
}

.cpuScoreBox {
	background-color: white;
	padding: 15px 0px 15px 0px;
	font-size: 26px;
	float: left;
	width: 48%;
	min-height: 100px;
}

#cpuScore, #userScore {
	font-size: 32px;
}

.userScoreBox {
	background-color: white;
	padding: 15px 0px 15px 0px;
	font-size: 26px;
	float: right;
	width: 48%;
	min-height: 100px;
}

.crystalBank {
	min-height: 120px;
	padding: 1%;
	border-top-style: solid;
	border-bottom-style: solid;
	border-width: 2px;
	border-color: black;
	background-color: white;
	vertical-align: middle;
}

.redCrystal {
	margin-left: 26%;
}

.redCrystal, .blueCrystal, .greenCrystal, .yellowCrystal {
	float: left;
	margin-right: 2%;
}

.rButton, .bButton, .gButton, .yButton {
	height: 120px;
	width: 120px;
}

#wins {
	margin: 2%;
	padding: 15px;
	font-size: 25px;
	clear:both;
}

#losses {
	margin: 2%;
	padding: 15px;
	font-size: 25px;
	clear: both;
}

@media screen and (max-width: 1200px) {
	
	.redCrystal {
		margin-left: 20%;
	}
}

@media screen and (max-width: 1100px) {
	
	.redCrystal {
		margin-left: 17%;
	}
}

@media screen and (max-width: 980px) {
	
	.redCrystal {
		margin-left: 12%;
	}
}

@media screen and (max-width: 792px) {

	.rButton, .bButton, .gButton, .yButton {
	height: 100px;
	width: 100px;
	}
}

@media screen and (max-width: 768px) {
	
	.redCrystal {
		margin-left: 8%;
	}

	.cpuScoreBox, .userScoreBox {
	font-size: 20px;
	}

	#cpuScore, #userScore, #wins, #losses {
		font-size: 24px;
	}
}

@media screen and (max-width: 740px) {
	
	.redCrystal {
		margin-left: 8%;
	}

	.redCrystal, .blueCrystal, .greenCrystal, .yellowCrystal {
		margin-top: 3%;
	}
}

@media screen and (max-width: 670px) {

	.redCrystal, .blueCrystal, .greenCrystal, .yellowCrystal {
		margin-top: 2%;
	}
}

@media screen and (max-width: 640px) {
	
	.rButton, .bButton, .gButton, .yButton {
	height: 80px;
	width: 80px;
	}

	.redCrystal, .blueCrystal, .greenCrystal, .yellowCrystal {
		margin-top: 3%;
	}

	.redCrystal {
		margin-left: 3%;
	}
}